/*----------------------
  Recent Game Section
------------------------*/

.recent-game-section {
	background-color: #eef2f6;
	border-top: 1px solid #d6dee7;
	border-bottom: 1px solid #d6dee7;
  background-image: url('../../assets/recent-game-bg.png');
}

.recent-game-item .rgi-thumb {
	height: 204px;
	padding: 25px 28px;
}

.recent-game-item .rgi-content {
	padding: 34px 22px 20px;
	background: #fff;
	border: 1px solid #d6dee7;
	border-top: none;
	position: relative;
}

.recent-game-item .rgi-content h5 {
	margin-bottom: 20px;
	line-height: 1.5;
}

.recent-game-item .rgi-content .comment {
	font-size: 12px;
	color: #737373;
}

.recent-game-item .rgi-extra {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 70px;
}

.recent-game-item .rgi-extra .rgi-star,
.recent-game-item .rgi-extra .rgi-heart {
	height: 35px;
	width: 35px;
	float: left;
	display: block;
	padding: 6px 8px 0;
}

.recent-game-item .rgi-extra .rgi-star {
	background: #ffb320;
}

.recent-game-item .rgi-extra .rgi-heart {
	background: #ff205f;
}